<div class="container">
    <h2 class="title">Цитати - Albert Einstein</h2>
    <hr />
    <p>&#8680 Интелектуалните оръдия, без които не би било възможно развитието на съвременната техника, са дошли главно от наблюдения на звездите.</p>
    <p>&#8680 Великите мисли идват в главата на човека толкова рядко, че никак не е трудно да се запомнят.</p>
    <p>&#8680 Никога не мисли за бъдещето. То идва достатъчно бързо.</p>
    <p>&#8680 Зная защо има толкова много хора, които обичат да цепят дърва. В тази дейност те незабавно виждат резултатите.</p>
    <p>&#8680 Никога не е грешал този, който никога не е опитвал нещо ново.</p>
    <p>&#8680 Умните хора решават проблеми, гениалните ги предотвратяват.</p>
</div>
