<div class="container">
    <h2 class="title">Определяне на дистанция </h2>
    <p>
        Чрез използване на вариант на обратно пропорционалния закон (<a class="link-wiki" href="#/inverseSquare" target="_blank">Inverse-square law</a>), можем да определим разстоянието до звезда, като използваме отношение базирано на слънцето.
    </p>
    <div style="text-align:center;">
        <img style="width:20%;" src="img/Distance.gif" />
    </div>
    <p>
        Формулата важи също, за които и да е други две звезди.
    </p>
</div>
