<div class="container">
    <h2 class="title">Доплеров ефект</h2>
    <p>
        Доплеровият ефект представлява промяната на честотата или дължината на вълната, когато източникът и приемникът се вдижат по направление един към друг или обратното. Най-използваната аналогия е, когато стоиш на улицата и преминава кола. Докато колато приближива, има увеличаващ се звук. Когато тя ни подмине, звукът става с по-ниска честота.
        Има два вида Доплерови ефекта:
    </p>
    <ul id="list-doppler">
        <li>Червено отместване – дължината на вълната расте (отдалечава се от наблюдателя)</li>
        <li>Синьо отместване – дължината на вълната намалява (приближава се към източника)</li>
    </ul>
    <p>
        Доплеровият ефект може да се измери по следното уравнение:
    </p>
    <div class="image-container-law">
        <img src="img/DopplerShift.gif" />
    </div>
    <p>
        Като измерим доплеровият ефкет на тяло, възможно е да измерим скоростта на обекта.
    </p>
    <div class="image-container-law">
        <img src="img/DopplerShiftVelocity.gif" />
    </div>
    <div>Търсиш още за Доплеров ефект? Намери <a class="link-wiki" target="_blank" href="http://bg.wikipedia.org/wiki/%D0%94%D0%BE%D0%BF%D0%BB%D0%B5%D1%80%D0%BE%D0%B2_%D0%B5%D1%84%D0%B5%D0%BA%D1%82">тук</a>.</div>
    <br />
    <a class="link-wiki" ng-click="toTop()">Back to top</a>
</div>
