<div class="container">
    <h2 class="title">За преимуществото на детекторите на светлина пред окото</h2>
    <p>
        Днес наред с фотоградията се използват и редица модерни фотоелектрични, телевизионни и полупроводникови приемници (детектори) на светлина с много висока чувствителност. Освен чувствителността те имат и други преимущества пред окото. Това са например документалността (способността да фиксират и дълго време време да съхраняват информацията от небесните обекти), панорамността (способността да се наблюдават едновременно няколко обекта), интегралността (способността да интегрират, т.е. да натрупват светлинна енергия от небесните обекти и по този начин да правят слабите обекти видими) и др.
    </p>
</div>
