<div class="container">
    <h2 class="title">Цитати - Galileo Galilei</h2>
    <p>&#8680 За да бъде унищожено учението на Коперник, съвсем не е достатъчно да бъде затворена нечия уста. Трябва да бъде забранена астрономията, а също трябва да се забрани на всички да поглеждат към небето</p>
    <p>&#8680 И все пак тя се върти!</p>
    <p>&#8680 Не можеш да научиш никого на нищо, а можеш само да му помогнеш да го открие в себе си.</p>
    <p>&#8680 Предпочитам да открия една истина, дори и в незначителните неща, отколкото дълго да обсъждам най-големите въпроси, недостигайки до никаква истина.</p>
</div>
