<div id="container">
    <h2 class="title">Какво точно представлява телескопът?</h2>
    <p>Телескопът е уред за наблюдаване на астрономически обекти. Обикновено под телескоп се разбира оптичен телескоп, но съществуват и телескопи за по-голямата част от спектъра на електромагнитно излъчване, както и за други видове сигнали.</p>
    <div class="info"><small>Определение от <a class="link-wiki" target="_blank" href="http://bg.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BB%D0%B5%D1%81%D0%BA%D0%BE%D0%BF">wikipedia</a></small></div>
    <h3>История</h3>
    <p>В продължение на столетия астрономическите наблюдения са се провеждали само с невъоражено око. Изобретяването на телескопа от Галилей (с него открива Сатурн и 4 спътника на Юпитер) в началото на XVII в. довело до истинска революция в астрономията. Сега телескопът е основно средство за астрономически наблюдения.</p>
    
    <h4 style="text-align:center">Първият Телескоп</h4>
    <div class="image-container-law">
        <img src="img/first-telescope1.jpg" />
    </div>
</div>