<div class="container">
    <h3 class="title">Inverse-square Law (закон за обратна пропорционалност)</h3>
    <p>
        Във физиката, обратно пропорционален закон е физичен закон казващ, че определена физична велечина или сила е обратно пропорционална на квадрата на дистанцията от източниката на физичната велечина. Образува уравнението:
    </p>
    <div style="text-align:center;">
        <img src="img/basicInverseSquareLaw.png" />
    </div>
    <p>
        В нашият случай, яркостта на обект драстично намаля като се движим все по-далеч от източника. Този резултат се получава поради голяма сфера на влияние. Светлина от източник като звезда блести във всички посоки, като пространството на осветаемост се увеличава заедно с дистанцията, така че яркостта намаля. Така че ако знаем дистанцията до звезда, можем да ползваме следното уравнение да определим нейната яркост:
    </p>
    <div class="image-container-law">
        <img src="img/InverseSquareLaw.gif" />
    </div>
    <hr />
    <div style="text-align:center;">Не е достатъчно? разбери още<a class="link-wiki" target="_blank" href="http://en.wikipedia.org/wiki/Inverse-square_law"> тук </a>(на английски)</div>
</div>
