<div class="container">
    <h2 class="title">Цитати - Блез Паскал</h2>
    <p>&#8680 Любознателността е само суета. Най-често искаме да знаем, само за да можем да го покажем.</p>
    <p>&#8680 Най-непоносим е за човека покоят, ненарушаван нито от страсти, нито от дела, нито от развлечения, нито от знания. Тогава той чувствува своята нищожност, изоставеност, несъвършенство, зависимост, своето безсилие и празнота.</p>
    <p>&#8680 Всички нещастия на човека се дължат на неспособността му да стои тихо в своята стая, усамотен.</p>
    <p>&#8680 Има две крайности: да не слушаш разума и да слушаш само него.</p>
    <p>&#8680 Разумът ни заповядва по-властно от господар; защото ако не се покорим на господаря, сме нещастни, а ако не се покорим на разума сме глупави.</p>
    <p>&#8680 Величието на човека е в мисълта.</p>
    <p>&#8680 В какви ли невероятности трябва невярващите да вярват, за да си останат невярващи!</p>
</div>