<div id="container">
    <h2 class="title">Закон на Планк (Plank's law)</h2>
    <p>
        Законът на Планк е физичен закон, описващ разпределението на енергията, излъчвана от абсолютно черно тяло (равновесно излъчване), по дължини на вълните в спектъра. Известен е и под името „хипотеза на Планк“.
    </p>
    <div class="info"><small>Определение от <a class="link-wiki" target="_blank" href="http://bg.wikipedia.org/wiki/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD_%D0%BD%D0%B0_%D0%9F%D0%BB%D0%B0%D0%BD%D0%BA">wikipedia</a></small></div>
    <p>
        Енергията която един фотон използва, може да наречем закон на Планк.
        Някога да сте се замисляли колко енергия светлина един фотон съдържа? Вероятно не, но ние имаме няколко уравнения , с които да ви покажем така или иначе!
        Чрез използването на константата на Планк (която е стойност, описваща една кванта – най-малката измерена частица) във връзка с честотата и дължината на вълната, ние можем да образуваме следните две уравнения:
    </p>
    <div class="image-container-law">
        <img src="img/PhotonEnergyFrequency.gif" />
    </div>
    <div style="text-align:center;">
        И
    </div>
    <div class="image-container-law">
        <img src="img/PhotonEnergyWavelength.gif" />
    </div>
    <p>Да се отбележе, че тези уравнения се използват да намериш енергията на един футон.</p>
    <a class="link-wiki" ng-click="toTop()">Back to top</a>
</div>
