<div id="container">
    <h2 class="title">Рефрактори</h2>
    <p>Рефракторите са телескопи, при които главният оптически елемент - обективът е леща, намираща се в предния край на тръбата. Според това, какъв тип окуляр имат, рефракторите се делят на две системи, носещи имената на Галилей и на Кеплер.</p>
    <div><h2 class="title">История</h2><button ng-click="showHistory()" class="btn">{{historyInfo}}</button></div>
    <p ng-show="showH">Смята се, че първите далекогледни тръби са изобретени в началото на XVII век в Холандия. Скоро от това откритие се заинтелесовал Галилей, който за първи път го използвал за астрономически наблюдения. Това станало на 7 януари 1610 г., а първите наблюдавани обекти били Луната и близкия да нея Юпитер.

    Първият телескоп бил дървен, обвит с хартия, обективът бил плоско-изпъкнала леща и имал фокусно разстояние около 980mm и диаметър около 16mm. Окулярът бил от двустранно вдлъбната леща и давал увеличение около 20 пъти. Окулярът бил в малка тръбичка, чрез която се фокусирало. Стъклото за лещите било некачествено, с много въздушни мехурчета и със синкав оттенък. С този телескоп можело да се наблюдава площ само около 1/4 от лунната повърхност. След първите си наблюдения Галилей изработва и други телескопи, два от които са запазени и до днес.</p>
    <hr />
    <h3>Галилеева система</h3>
    <p>При галилеевата система окулярът е малка разсейвателна (отрицателна, "вдлъбната") леща, разположена пред фокалната равнина на обектива. Тя "изправя" светлината идваща от обектива в успореден сноп, който се разглежда от окото. Основно предимство на този вид рефрактори е, че те дават прав образ след окуляра и могат да се използват за земни наблюдения. Но за сметка на това зрителното поле е много малко, особено при по-големи увеличения и откриването на обектите става трудно. Затова тази система има съвсем ограничено практическо приложение - използва се, например, при малките театрални бинокли.</p>
    <div class="image-container">
        <img src="img/kepler.gif" />
    </div>
    <h3>Кеплерова система</h3>
    <p>Година след първите наблюдения на Галилей Йохан Кеплер описва друга телескопична система, при която окулярът е събирателна (положителна, "изпъкнала") леща. Тук окулярът играе ролята на лупа - през него се разглежда образът на обекта, създаден от обектива във фокалната равнина. Тъй като този образ е обърнат, окулярът разглежда обърнат образ, такъв той се възприема и от окото на наблюдателя. Поради по-високото качество на образа и по-голямото зрително поле в астрономията се използват рефрактори от този тип, а това, че образа е обърнат не е от значение. По същество всички бинокли и зрителни тръби са кеплерови рефрактори, в които е включен и елемент, изправящ образа - призми или лещи.</p>
    <div class="image-container">
        <img src="img/refractor1.jpg" />
    </div>
    <a class="link-wiki" ng-click="toTop()">Back to top</a>
</div>
