<div class="container">
    <h2 class="title">Относителност</h2>
    <p>Относителността е ефекта на гравитацията към време-пространството. Относителност е също така и реакциите на материя като достигне светлинна скорост. По отношение на материята, две много любопитни неща се появяват като се достигне скоростта на светлината:</p>
    <ol>
        <li>Времето е повлияно</li>
        <li>Дължината е повлияна</li>
    </ol>
    <p>Тези два ефекта са наречени трансформациите на Лоренц.</p>
    <p>Времето е повлиятно като се достигне светлинна скорост. За да определим това, използваме трансформацията на време на Лоренц:</p>
    <div class="image-container">
        <img src="img/LorentzTime.gif" />
    </div>
    <p>Същият ефект се появавя с видимата дължина на обект: </p>
    <div class="image-container-law">
        <img src="img/LorentzLength.gif" />
    </div>
</div>