<div class="container">
    <h2 class="title">Източници</h2>
    <hr />
    <a class="link-wiki" target="_blank" href="http://spaceguide.hit.bg/Telescopes.htm">&#8680 spaceguide</a><br />
    <a class="link-wiki" target="_blank" href="http://astronomy.geodar.com/telescope/telescope_types.html">&#8680 astronomy.geodar</a><br />
    <a class="link-wiki" target="_blank" href="http://astronomyonline.org/Science/Formulas.asp">&#8680 astronomyonline</a><br />
    <a class="link-wiki" target="_blank" href="http://en.wikipedia.org/">&#8680 wikipedia</a><br />
    <div class="link-wiki">&#8680 Учебник по астрономия за 11 клас.</div>
</div>
