<div class="container">
    <h2 class="title">За способността на телескопа да прониква във вселената</h2>
    <p>
        Кое е по-важно в астрономията - проникващата способност на телескопа или неговата разделителна способност? На този въпрос не може да се отговори еднозначно. Когато един космически обект се отдалечава от наблюдателя, намаляват както видимите му размери, така и идващият до нас поток светлинна енергия от него. Следователно, за да можем да проникнем по-дълбоко в глъбините на Вселената, трябва да увеличим и проникващата, и разделителната способност на нашите телескопи.
    </p>
    <p>
        Колкото е по-голям диаметърът на обектива, толкова е по-добра разделителната способност на телескопа. На пръв поглед е достатъчно да се правят все по-големи телескопи и въпросът за по-дълбокото наблюдателно проникване във Вселената ще бъде решен.
    </p>
    <p>
        На практика обаче теоретичната граница на разделителната способност не може да се достигне поради ограниченията, внасяни от земната атмосфера. Атмосферата разсейва светлината и разделителната способност под 1" не може да се достигне независимо от размерите на обектива на телескопа. Наистина, това е доста малък ъгъл - под такъв ъгъл се вижда например един кибрит от разстояние около 10 км. Но този ъгъл съответства на теоретичната разделителна способност на телескоп с обектив само около 10 см! Поради влияние на атмосферата, образите, получени и с най-големите телескопи, не са по-добри по количество на детайлите в тях от образите в училищните телескопи. Затова при телескопите не се използват увеличения повече от 200-300 пъти. По-големите увеличения са безполезни поради ограничаващата роля на атмосферата.
    </p>
    <p>
        Защо тогава въобще се строят големи телескопи? Защото все пак те събират много повече светлинна енергия от космическите обекти и получените с тях образи са значително по-ярки. А това е много важно, понеже в астрономия се работи със слаби източници на светлина и няма друга наука, която да се занимава с изследването на толкова малки потоци електромагнитна енергия.
    </p>
    <a class="link-wiki" ng-click="toTop()">Back to top</a>
</div>