<div>
    <h2 class="title">За способността на телескопа да събира светелинна енергия</h2>
    <p>
        Оптическите телескопи събират много повече светлина от човешкото око. Основна оптическа част от всеки телескоп е неговият обектив. Неговата функция е да събира светлинната енергия от небесните обекти и да се получават уголемените им образи. Колкото е по-голяма площта на обектива, толкова повече светлинна енергия събира телескопът и толкова по-слабо светещи обекти могат да се наблюдават с него.
        Освен за събиране на светлинна енергия телескопите подобно на биноклите се използват, за да се увеличат ъгловите размери на образите на космическите обекти и по този начин да позволят да се разгледат повече и по-дребни детайли в тях.
    </p>
</div>
