<div class="container">
    <h2 class="title">За разделителната способност на телескопа</h2>
    <p>
        Способността да се разделят две близки точки зависи от качеството на обектива  на телелкопа. Ако оптиката на телескопа няма необходимото качество, ще се получават по-лошо образи. Колкото е по-голямо светлинното петно, което съответства на образа на точковите източници на светлина (т.е на звездите), толкова по-лошо е качеството на образа и толкова по-малка е разделителната способност на телескопа.
    </p>
    <p>
        Но дори и с телескоп, чийто оптически качества са идеални, не може да се получи образ на точков обект като точка. Когато светлинните вълни минават близко до краищатата на обектива на телескопа, те се отклоняват и няма да се концетрират във фокуса, а в една малка зона около него. Това се дължи на дифракцията на светлината. Заради нея образът на точковия източник не е точка, а размито кръгло петънце, заобиколено от слаби пръстени. Видът на тази дифракционна картина е такъв:
    </p>
    <div class="image-container-law">
        <img src="img/resolution.jpg" />
    </div>
    <p>
        Ъгловият размер на централното петно зависи от диаметъра D на обектива на телескопа и от дължината на вълната на падащата светлина  λ:
    </p>
    <h3 style="text-align:center;">α = 1.22* λ/D</h3>
    <p>
        Тук λ и D са изразени в еднакви мерни единици, а се получава в rad. Теоритичната разделителна способност α на големите телескопи достига до 0.02 ъглови секунди (0.02“). Тя е хиляди пъти по-добра от разделителната способност на невъораженото око, която е около 1 ъглова минута (1‘).
    </p>
    <a class="link-wiki" ng-click="toTop()">Back to top</a>
</div>
